.amountBox{

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin:25px 0;

    background:#111;

    padding:15px;

}

.amountBtn{

    width:70px;
    height:70px;

    font-size:36px;

    background:#f0a500;
    color:black;

    border:none;

    cursor:pointer;

    font-weight:bold;

}

.amountBtn:hover{

    background:#ffc74d;

}

#amountDisplay{

    font-size:42px;

    font-weight:bold;

    color:white;

    width:120px;

    text-align:center;

}
